<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
	<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="description" content="mysurebiz - A reliable student investment and skill acquisition centre. Startup that dream business of yours as soon as you leave university.">
<meta name="keywords" content="education,school,university,educational,student investment, investment,teaching,workshop">
<meta name="author" content="Mysurebiz" />

<!-- Page Title -->
<title>mysurebiz</title>

<!-- Favicon and Touch Icons -->
<link href="public/images/favicon.png" rel="shortcut icon" type="image/png">
<link href="http://mysurebiz.com/public/images/apple-touch-icon.png" rel="apple-touch-icon">
<link href="http://mysurebiz.com/public/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="http://mysurebiz.com/public/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="http://mysurebiz.com/public/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="public/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="public/css/animate.css" rel="stylesheet" type="text/css">
<link href="public/css/css-plugin-collections.css" rel="stylesheet"/>

<!-- CSS | menuzord megamenu skins -->
<link href="public/css/menuzord-megamenu.css" rel="stylesheet"/>
<link href="public/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" id="menuzord-menu-skins"/>

<!-- CSS | Main style file -->
<link href="public/css/style-main.css" rel="stylesheet" type="text/css">

<!-- CSS | Preloader Styles -->
<link href="public/css/preloader.css" rel="stylesheet" type="text/css">

<!-- CSS | Custom Margin Padding Collection -->
<link href="public/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">

<!-- CSS | Responsive media queries -->
<link href="public/css/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

<!-- Revolution Slider 5.x CSS settings -->
<link  href="public/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css"/>
<link  href="public/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css"/>
<link  href="public/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css"/>

<!-- CSS | Theme Color -->
<link href="public/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<script src="public/js/jquery-2.2.4.min.js"></script>
<script src="public/js/jquery-ui.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>

<!-- JS | jquery plugin collection for this theme -->
<script src="public/js/jquery-plugin-collection.js"></script>

<!-- Revolution Slider 5.x SCRIPTS -->
<script src="public/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="public/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]--></head>

<body class="">
	<div id="wrapper" class="clearfix">
		<!-- preloader -->
<div id="preloader">
    <div id="spinner">
      <img alt="" src="public/images/preloaders/5.gif">
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
</div>
<!-- Header -->
<header id="header" class="header">
	<div class="header-nav">
		<div class="header-nav-wrapper navbar-scrolltofixed bg-white">
			<div class="container">
				<nav id="menuzord-right" class="menuzord default">
					<a class="menuzord-brand pull-left flip mt-sm-10 mb-sm-20" href="home.html">
						<img src="public/images/mysurebizlogo.png" style="position: absolute; width: 100px;height: 100px;">
					</a>
					<ul class="menuzord-menu">
						<li class="active"><a href="home.html">Home</a></li>
						<li><a href="mysurebiz-features.html">Features</a></li>
						<li><a href="faq.html">Faq</a></li>
						<li><a href="mysurebiz-gallery.html">Gallery</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="jobs.html">Career</a></li>
						<li><a href="contact-us.html">Contact</a></li>
						<li>
                        <a>Our Company</a>
							<ul class="dropdown">
								<li><a href="about-mysurebiz.html">About Us</a></li>
								<li><a href="objectives.html">Our Manifesto</a></li>
							</ul>
						</li>
						<li>
							<a>Account</a>
							<ul class="dropdown">
                            								<li><a href="login.html">Login</a></li>
								<li><a href="registration.blade.php">Register</a></li>
                            							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>		<!-- Start main-content -->
		<div class="main-content">
			<!-- Section: home -->
			<section id="home">
				<div class="container-fluid p-0">

					<!-- START REVOLUTION SLIDER 5.0.7 -->
					<div id="rev_slider_home_wrapper" class="rev_slider_wrapper" data-alias="news-gallery34" style="margin:0px auto; background-color:#ffffff; padding:0px; margin-top:0px; margin-bottom:0px;">
						<!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
						<div id="rev_slider_home" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
							<ul>
								<!-- SLIDE 1 -->
								<li data-index="rs-1" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default"
								 data-thumb="http://mysurebiz.com/public/images/custom/lady-3.jpg" data-rotate="0" data-fstransition="fade" data-saveperformance="off" data-title="Web Show"
								 data-description="">
									<!-- MAIN IMAGE -->
									<img src="public/images/custom/lady-3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
									 data-bgparallax="10" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->
									<!-- LAYER NR. 1 -->
									<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-4" id="slide-1-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
									 data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;"
									 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									 data-start="500" data-basealign="slide" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
									</div>
									<!-- LAYER NR. 2 -->
									<div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700" id="slide-1-layer-2"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
									 data-voffset="['195','195','160','170']" data-fontsize="['58','48','42','36']" data-lineheight="['70','60','50','45']"
									 data-fontweight="['800','700','700','700']" data-textalign="['center','center','center','center']" data-width="['750','650','600','420']"
									 data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
									 data-start="600" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:700">
										WELCOME TO MYSUREBIZ
									</div>
									<!-- LAYER NR. 3 -->
									<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-3" data-x="['center','center','center','center']"
									 data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['275','260','220','220']" data-fontsize="['16','16',18',16']"
									 data-lineheight="['24','24','24','24']" data-fontweight="['400','400','400','400']" data-textalign="['center','center','center','center']"
									 data-width="['800','650','600','460']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
									 data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;">We give you 100% support to build that big business
										<br> of your dream and we stand-by till you open the business

									</div>
									<!-- LAYER NR. 4 -->
									<div class="tp-caption rs-parallaxlevel-0" id="slide-1-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['top','top','top','top']" data-voffset="['350','330','290','290']" data-width="none" data-height="none"
									 data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
									 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
									 data-mask_in="x:0px;y:0px;" data-mask_out="x:0;y:0;" data-start="800" data-splitin="none" data-splitout="none" data-responsive_offset="on"
									 data-responsive="off" style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
										<a class="btn btn-theme-colored2 btn-lg btn-flat text-white font-weight-600 pl-30 pr-30 mr-15" href="registration.blade.php">Register Now</a>
										<a class="btn btn-default btn-transparent btn-bordered btn-lg btn-flat font-weight-600 pl-30 pr-30" href="login.html">Login</a>

									</div>
								</li>

								<!-- SLIDE 2 -->
								<li data-index="rs-2" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default"
								 data-thumb="http://mysurebiz.com/public/images/custom/female.jpg" data-rotate="0" data-fstransition="fade" data-saveperformance="off" data-title="Web Show"
								 data-description="">
									<!-- MAIN IMAGE -->
									<img src="public/images/custom/female.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
									 data-bgparallax="10" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->
									<!-- LAYER NR. 1 -->
									<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-4" id="slide-2-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
									 data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;"
									 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									 data-start="500" data-basealign="slide" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
									</div>
									<!-- LAYER NR. 2 -->
									<div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700" id="slide-2-layer-2"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
									 data-voffset="['195','195','160','170']" data-fontsize="['58','48','42','36']" data-lineheight="['70','60','50','45']"
									 data-fontweight="['800','700','700','700']" data-textalign="['center','center','center','center']" data-width="['700','650','600','420']"
									 data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
									 data-start="600" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:700;">
										KEEP PENNY
									</div>
									<!-- LAYER NR. 3 -->
									<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-3" data-x="['center','center','center','center']"
									 data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['275','260','220','220']" data-fontsize="['16','16',18',16']"
									 data-lineheight="['24','24','24','24']" data-fontweight="['400','400','400','400']" data-textalign="['center','center','center','center']"
									 data-width="['800','650','600','460']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
									 data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;">Start keeping that penny today and collect your total accumulated penny
										<br> plus access to funds up to N20 million to start your big business
									</div>
									<!-- LAYER NR. 4 -->
									<div class="tp-caption rs-parallaxlevel-0" id="slide-2-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['top','top','top','top']" data-voffset="['350','330','290','290']" data-width="none" data-height="none"
									 data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
									 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
									 data-mask_in="x:0px;y:0px;" data-mask_out="x:0;y:0;" data-start="800" data-splitin="none" data-splitout="none" data-responsive_offset="on"
									 data-responsive="off" style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
										<a class="btn btn-theme-colored2 btn-lg btn-flat text-white font-weight-600 pl-30 pr-30 mr-15" href="registration.blade.php">Register Now</a>
										<a class="btn btn-default btn-transparent btn-bordered btn-lg btn-flat font-weight-600 pl-30 pr-30" href="index.html#">Login</a>
									</div>
								</li>

								<!-- SLIDE 3 -->
								<li data-index="rs-3" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default"
								 data-thumb="http://mysurebiz.com/public/images/afmw.jpg" data-rotate="0" data-fstransition="fade" data-saveperformance="off" data-title="Web Show"
								 data-description="">
									<!-- MAIN IMAGE -->
									<img src="public/images/afmw.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
									 data-bgparallax="10" class="rev-slidebg" data-no-retina>
									<!-- LAYERS -->
									<!-- LAYER NR. 1 -->
									<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-4" id="slide-3-layer-1"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
									 data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;"
									 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
									 data-start="500" data-basealign="slide" data-responsive_offset="on" style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
									</div>
									<!-- LAYER NR. 2 -->
									<div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700" id="slide-3-layer-2"
									 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']"
									 data-voffset="['195','195','160','170']" data-fontsize="['58','48','42','36']" data-lineheight="['70','60','50','45']"
									 data-fontweight="['800','700','700','700']" data-textalign="['center','center','center','center']" data-width="['750','650','600','420']"
									 data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
									 data-start="600" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap; font-weight:700;">
										BEST ONLINE TRAINING
									</div>
									<!-- LAYER NR. 3 -->
									<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-3-layer-3" data-x="['center','center','center','center']"
									 data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['275','260','220','220']" data-fontsize="['16','16',18',16']"
									 data-lineheight="['24','24','24','24']" data-fontweight="['400','400','400','400']" data-textalign="['center','center','center','center']"
									 data-width="['800','650','600','460']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
									 data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;"
									 data-start="700" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 5; white-space: nowrap;">We provide 100% free physical step by step expert guide
										<br> to satisfy your business quest.
									</div>
									<!-- LAYER NR. 4 -->
									<div class="tp-caption rs-parallaxlevel-0" id="slide-3-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
									 data-y="['top','top','top','top']" data-voffset="['350','330','290','290']" data-width="none" data-height="none"
									 data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
									 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
									 data-mask_in="x:0px;y:0px;" data-mask_out="x:0;y:0;" data-start="800" data-splitin="none" data-splitout="none" data-responsive_offset="on"
									 data-responsive="off" style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
										<a class="btn btn-theme-colored2 btn-lg btn-flat text-white font-weight-600 pl-30 pr-30 mr-15" href="registration.blade.php">Register Now</a>
										<a class="btn btn-default btn-transparent btn-bordered btn-lg btn-flat font-weight-600 pl-30 pr-30" href="index.html#">Login</a>
									</div>
								</li>
							</ul>
							<div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(255, 255, 255, 0.2);"></div>
						</div>
					</div>

					<!-- END REVOLUTION SLIDER -->
					<script type="text/javascript">
						var tpj=jQuery;
          var revapi34;
          tpj(document).ready(function() {
            if(tpj("#rev_slider_home").revolution == undefined){
              revslider_showDoubleJqueryError("#rev_slider_home");
            }else{
              revapi34 = tpj("#rev_slider_home").show().revolution({
                sliderType:"standard",
                jsFileLocation:"http://mysurebiz.com/public/js/revolution-slider/js",
                sliderLayout:"fullwidth",
                dottedOverlay:"none",
                delay:5000,
                navigation: {
                  keyboardNavigation:"on",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation:"off",
                  onHoverStop:"on",
                  touch:{
                    touchenabled:"on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                  }
                  ,
                  arrows: {
                    style:"zeus",
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                    left: {
                      h_align:"left",
                      v_align:"center",
                      h_offset:30,
                      v_offset:0
                    },
                    right: {
                      h_align:"right",
                      v_align:"center",
                      h_offset:30,
                      v_offset:0
                    }
                  },
                  bullets: {
                    enable:true,
                    hide_onmobile:true,
                    hide_under:600,
                    style:"metis",
                    hide_onleave:true,
                    hide_delay:200,
                    hide_delay_mobile:1200,
                    direction:"horizontal",
                    h_align:"center",
                    v_align:"bottom",
                    h_offset:0,
                    v_offset:30,
                    space:5,
                    tmp:'<span class="tp-bullet-img-wrap"><span class="tp-bullet-image"></span></span>'
                  }
                },
                viewPort: {
                  enable:true,
                  outof:"pause",
                  visible_area:"80%"
                },
                responsiveLevels:[1240,1024,778,480],
                gridwidth:[1240,1024,778,480],
                gridheight:[600,550,500,450],
                lazyType:"none",
                parallax: {
                  type:"scroll",
                  origo:"enterpoint",
                  speed:400,
                  levels:[5,10,15,20,25,30,35,40,45,50],
                },
                shadow:0,
                spinner:"off",
                stopLoop:"off",
                stopAfterLoops:-1,
                stopAtSlide:-1,
                shuffle:"off",
                autoHeight:"off",
                hideThumbsOnMobile:"off",
                hideSliderAtLimit:0,
                hideCaptionAtLimit:0,
                hideAllCaptionAtLilmit:0,
                debugMode:false,
                fallbacks: {
                  simplifyAll:"off",
                  nextSlideOnWindowFocus:"off",
                  disableFocusListener:false,
                }
              });
            }
          }); /*ready*/
					</script>
					<!-- END REVOLUTION SLIDER -->

				</div>
			</section>

			<!-- Divider: Features -->
			<section class="divider bg-silver-deep ">
				<div class="container pt-50 pb-60">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-4 mb-sm-30">
							<div class="feature-box text-center">
								<div class="feature-icon">
									<img src="public/images/icons/graduate.png" alt="">
								</div>
								<div class="feature-title">
									<h3>STUDENT MYSUREBIZ (SM)</h3>
									<a href="mysurebiz-features.html" class="read-more font-roboto-slab text-theme-colored2">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 mb-sm-30">
							<div class="feature-box text-center">
								<div class="feature-icon">
									<img src="public/images/artisan.png" alt="">
								</div>
								<div class="feature-title">
									<h3>ARTISAN MYSUREBIZ (AM)</h3>
									<a href="mysurebiz-features.html" class="read-more font-roboto-slab text-theme-colored2">Read More</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<div class="feature-box text-center">
								<div class="feature-icon">
									<img src="public/images/employee.png" alt="">
								</div>
								<div class="feature-title">
									<h3>EMPLOYEE MYSUREBIZ (EM)</h3>
									<a href="mysurebiz-features.html" class="read-more font-roboto-slab text-theme-colored2">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Section: About -->
			<section>
				<div class="container pb-70">
					<div class="section-content">
						<div class="row">

							<div class="col-md-8">
								<h2 class="text-uppercasetext-theme-colored mt-0 mt-sm-30">
									<span class="text-theme-colored2">Welcome !</span>
								</h2>
								<div class="double-line-bottom-theme-colored-2"></div>
								<p>
								    We welcome you to the Biggest and All-Encompassing Business Empowerment Program, MYSUREBIZ. We provide 100%
                                    support to assist you birth your business dreams no matter how big or small they are. With our engaging experience
                                    in business start-up coaching and business reality, you need three things to start your own business, Self-Generated
                                    Business Idea, Take-Off Capital, and Mentorship; right here you will enjoy these adequately without paying any extra
                                    fee.
								</p>
								<p>
									Our commitment is to walk the journey with you right from dreaming to starting that business whether you are a
                                    Student, an Artisan or an Employee.<a style="font-weight:700;" class="text-success" href="registration.blade.php"> REGISTER</a>
                                    now and begin an inspiring journey that will lead you into becoming a BOSS and say goodbye to unfulfillment and penury
                                    . With us <strong>YOU CAN BE WHAT YOU WANNA BE</strong>

								</p>
							</div>
							<div style="margin-top:40px !important;" class="col-md-3">
								<div class="">
								<a href="https://seunashimolowo.site123.me/"target="_blank"><img class="img-fullwidth" src="public/images/home-ad.jpg" alt="ads" height="200"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Section: Events -->
			<section>
				<div class="container pb-50">
					<div class="section-content">
						<div class="row">
							<div class="col-md-6">
								<h3 class="text-uppercase line-bottom-theme-colored-2 mt-0 line-height-1">
									<i class="fa fa-calendar mr-10"></i>Upcoming
									<span class="text-theme-colored2">Events</span>
								</h3>
								<article>
									<div class="event-block">
										<div class="event-date text-center">
											<ul class="text-white font-18 font-weight-600">
												<li class="border-bottom">9</li>
												<li class="">Jun</li>
											</ul>
										</div>
										<div class="event-meta border-1px pl-40">
											<div class="event-content pull-left flip">
												<h4 class="event-title media-heading font-roboto-slab font-weight-700">
													<a href="index.html#">SEMINAR</a>
												</h4>
												<span class="mb-10 text-gray-darkgray mr-10">
													<i class="fa fa-clock-o mr-5 text-theme-colored2"></i> at 11.00 am </span>
												<span class="text-gray-darkgray">
													<i class="fa fa-map-marker mr-5 text-theme-colored2"></i> Ikeja Lagos</span>
												<p class="mt-5">Annexing Innovative Shift In All Encompass Business Empowerment.</p>
											</div>
										</div>
									</div>
								</article>
								<article>
									<div class="event-block">
										<div class="event-date text-center">
											<ul class="text-white font-18 font-weight-600">
												<li class="border-bottom">21</li>
												<li class="">Jul</li>
											</ul>
										</div>
										<div class="event-meta border-1px pl-40">
											<div class="event-content pull-left flip">
												<h4 class="event-title media-heading font-roboto-slab font-weight-700">
													<a href="index.html#">YOUTH CONFRENCE</a>
												</h4>
												<span class="mb-10 text-gray-darkgray mr-10">
													<i class="fa fa-clock-o mr-5 text-theme-colored2"></i> at 8.00 Am</span>
												<span class="text-gray-darkgray">
													<i class="fa fa-map-marker mr-5 text-theme-colored2"></i> Egbeda Lagos</span>
												<p class="mt-5">RCCG Youth confrence.                                        </p>
											</div>
										</div>
									</div>
								</article>
							</div>
							<div class="col-md-6">
								<h3 class="text-uppercase line-bottom-theme-colored-2 line-height-1 mt-0 mt-sm-30">
									<i class="fa fa-question-circle-o mr-10"></i>Frequently Asked
									<span class="text-theme-colored2">Questions</span>
								</h3>
								<div class="panel-group accordion-stylished-left-border accordion-icon-filled accordion-no-border accordion-icon-left accordion-icon-filled-theme-colored2"
								 id="accordion6" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headin1">
											<h6 class="panel-title">
												<a role="button" data-toggle="collapse" data-parent="#accordion6" href="index.html#collaps1" aria-expanded="true" aria-controls="collaps1">
													What is Mysurebiz?
												</a>
											</h6>
										</div>
										<div id="collaps1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headin1">
											<div class="panel-body">
												Mysurebiz is an all-encompassing business empowerment platform that systemize Penny-Wise and Know-How to empower every participant to start a business immediately after graduation from either academics, trade learning or after resignation from your job.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="heading2">
											<h6 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion6" href="index.html#collapse2" aria-expanded="false"
												 aria-controls="collapse2">
													How do I keep my Penny?
												</a>
											</h6>
										</div>
										<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
											<div class="panel-body">
												In order to enable you achieve your goals easily, daily token keeping can be done through your mobile phone (smart or feature phones), Tab or PC anytime and anywhere. All you need to do is simply forward the amount you are willing to save using your participant ID (activation code) and a code, this will automatically keep the money into your Mysurebiz account. Once you do this, you will receive an alert immediately to confirm your penny has been well kept. It is so easy and convenient.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="heading3">
											<h6 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion6" href="index.html#collapse3" aria-expanded="false"
												 aria-controls="collapse3">
													When will I start my own business?
												</a>
											</h6>
										</div>
										<div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
											<div class="panel-body">
												Immediately after graduation from either school as a student or trade as an artisan or immediately you quit your job as employee, Mysurebiz will be empowering you with your TPWA and AKH to start your own business.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="heading4">
											<h6 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion6" href="index.html#collapse4" aria-expanded="false"
												 aria-controls="collapse4">
													Once I register, What's next?
												</a>
											</h6>
										</div>
										<div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
											<div class="panel-body">
												<strong>Congratulations!</strong> You will receive an instantaneous message in your registered email with your private code to login to your dashboard on the website, there you will receive your lectures periodically, you will have access to a research centre, you can keep your penny privately, you can track your penny-keep and equally see your lecture compliance reward right from your private dashboard. Just keep keeping your penny and don’t miss your lectures you are sure going to start your own business no matter how big or small.

											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="heading5">
											<h6 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion6" href="index.html#collapse5" aria-expanded="false"
												 aria-controls="collapse5">
													What are my chances of starting my own business after the program?
												</a>
											</h6>
										</div>
										<div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
											<div class="panel-body">
												Every determined participant have a 100% opportunity to start their own business immediately after the grooming period. That is our promise.
											</div>
											
												
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="heading6">
											<h6 class="panel-title">
												<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion6" href="index.html#collapse6" aria-expanded="false"
												 aria-controls="collapse5">
													What can I do if I don’t have the penny?
												</a>
											</h6>
										</div>
											<div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
											<div class="panel-body">
												Every referal you make after your own registration will fetch you a reward of N50 naira. Yes that is a way to say thank you for believing in us. The accumulation of your reward account which you can view on your dashboard can be transferred to your penny-keep at will. So nothing can stop you from becoming what you wanna become.
											</div>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Divider: Reservation Form -->
			<section id="reservation" class="parallax layer-overlay overlay-theme-colored-9" data-bg-img="http://mysurebiz.com/public/images/bg/bg1.jpg" data-parallax-ratio="0.4">
				<div class="container">
					<div class="row">
						<div class="col-md-12 sm-text-center">
							<h3 class="text-white mt-30 mb-0">Get a Free online Registration</h3>
							<h2 class="text-theme-colored2 font-54 mt-0">Register Now!</h2>
							<p class="text-gray-darkgray font-15 pr-90 pr-sm-0 mb-sm-60">We have proven our loyalty to over 100,000 participants who have their own business and have attained their goals
								and now are confortable source of income. Let us be part of your journey to attaining your goals. Register now to
								be part of this amazing change coming to Africa .</p>
							<div class="row mt-30 sm-text-center">
								<div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
									<div class="funfact">
										<i class="pe-7s-smile mb-20 text-theme-colored2"></i>
										<h2 data-animation-duration="2000" data-value="754" class="animate-number text-white font-38 font-weight-400 mt-0 mb-15">0</h2>
										<h5 class="text-white text-uppercase">Happy Participants</h5>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
									<div class="funfact">
										<i class="pe-7s-users mb-20 text-theme-colored2"></i>
										<h2 data-animation-duration="2000" data-value="675" class="animate-number text-white font-38 font-weight-400 mt-0 mb-15">0</h2>
										<h5 class="text-white text-uppercase">Certified Experts</h5>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
									<div class="funfact">
										<i class="pe-7s-study mb-20 text-theme-colored2"></i>
										<h2 data-animation-duration="2000" data-value="1248" class="animate-number text-white font-38 font-weight-400 mt-0 mb-15">0</h2>
										<h5 class="text-white text-uppercase">Paid-Off Participants</h5>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
									<div class="funfact">
										<i class="pe-7s-study mb-20 text-theme-colored2"></i>
										<h2 data-animation-duration="2000" data-value="1248" class="animate-number text-white font-38 font-weight-400 mt-0 mb-15">0</h2>
										<h5 class="text-white text-uppercase">Business Owners</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Divider: Clients -->
			<section class="clients bg-theme-colored2">
				<div class="container pt-10 pb-10">
					<div class="row">
						<div class="col-md-12">
							<!-- Section: Clients -->
							<div class="owl-carousel-6col clients-logo transparent text-center">
								<div style="margin-top:10px;" class="item">
									<a href="index.html#">
										<img src="public/images/clients/firstbank.png" alt="">
									</a>
								</div>
								<div class="item">
									<a href="index.html#">
										<img src="public/images/clients/inovetixs.png" alt="inovetix studios">
									</a>
								</div>
								<div style="margin-top:20px;" class="item">
									<a href="index.html#">
										<img src="public/images/clients/Ciel2.png" alt="Ciel Haut Tech Ltd.">
									</a>
								</div>
								<div style="margin-top:10px;" class="item">
									<a href="index.html#">
										<img src="public/images/clients/interswitch.png" alt="">
									</a>
								</div>
								<div style="margin-top:10px;" class="item">
									<a href="index.html#">
										<img src="public/images/clients/iyanda1.png" alt="">
									</a>
								</div>
								<div style="margin-top:10px;" class="item">
									<a href="index.html#">
										<img src="public/images/clients/seeyond.png" alt="Seeyond">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- end main-content -->
		</div>
		<!-- Footer -->
		<footer id="footer" class="footer" data-bg-color="#212331">
	<div class="container pt-70 pb-40 col-md-offset-2">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="widget dark">
					<img class="mt-5 mb-20" alt="Logo will appear here " src="public/images/mysurebizlogo.png">
					<p>Lagos, Nigeria.</p>
					<ul class="list-inline mt-5">
						<li class="m-0 pl-10 pr-10">
							<i class="fa fa-phone text-theme-color-2 mr-5"></i>
							<a class="text-gray" href="index.html#">08030813841</a>
						</li>
						<li class="m-0 pl-10 pr-10">
							<i class="fa fa-envelope-o text-theme-color-2 mr-5"></i>
							<a class="text-gray" href="index.html#">info@mysurebiz.com</a>
						</li>
						<li class="m-0 pl-10 pr-10">
							<i class="fa fa-globe text-theme-color-2 mr-5"></i>
							<a class="text-gray" href="index.html#">www.mysurebiz.com</a>
						</li>
					</ul>
					<ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-10">
						<li><a href="index.html#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="index.html#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="index.html#"><i class="fa fa-vk"></i></a></li>
						<li><a href="index.html#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="index.html#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="widget dark">
					<h4 class="widget-title line-bottom-theme-colored-2">Useful Links</h4>
					<ul class="angle-double-right list-border">
						<li><a href="home.html">Home Page</a></li>
						<li><a href="about-mysurebiz.html">About Us</a></li>
						<li><a href="objectives.html">Our Manifesto</a></li>
						<li><a href="about-mysurebiz.html">Terms and Conditions</a></li>
						<li><a href="faq.html">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="widget dark">
					<h4 class="widget-title line-bottom-theme-colored-2">Blog</h4>
					<div class="latest-posts">
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="index.html#"><img src="https://placehold.it/80x55" alt=""></a>
							<div class="post-right">
								<h5 class="post-title mt-0 mb-5"><a href="index.html#">5 Ways to Raise Capital That You Need</a></h5>
								<p class="post-date mb-0 font-12">Apr 09, 2018</p>
							</div>
						</article>
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="index.html#"><img src="https://placehold.it/80x55" alt=""></a>
							<div class="post-right">
								<h5 class="post-title mt-0 mb-5"><a href="index.html#">How To Carry Out Start-Up Financial Management</a></h5>
								<p class="post-date mb-0 font-12">May 08, 2018</p>
							</div>
						</article>
						<article class="post media-post clearfix pb-0 mb-10">
							<a class="post-thumb" href="index.html#"><img src="https://placehold.it/80x55" alt=""></a>
							<div class="post-right">
								<h5 class="post-title mt-0 mb-5"><a href="index.html#">Entrepreneurship Myths Debunked</a></h5>
								<p class="post-date mb-0 font-12">May 15, 2018</p>
							</div>
						</article>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom" data-bg-color="#2b2d3b">
		<div class="container pt-20 pb-20">
			<div class="row">
				<div class="col-md-6">
					<p class="font-12 text-black-777 m-0 sm-text-center">Copyright &copy;2017 Mysurebiz. All Rights Reserved</p>
				</div>
				<div class="col-md-6 text-right">
					<div class="widget no-border m-0">
						<ul class="list-inline sm-text-center mt-5 font-12">
							<li ><a class="text-theme-colored2" href="http://mysurebiz.com/mysurebiz-faq.html">FAQ</a></li>
							<li>|</li>
							<li><a class="text-theme-colored2" href="contact-us.html">Contact us</a></li>
							<li>|</li>
							<li><a class="text-theme-colored2" href="index.html#">Support</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<a class="scrollToTop" href="index.html#"><i class="fa fa-angle-up"></i></a>	</div>
	<!-- end wrapper -->

	<!-- Footer Scripts -->
	<!-- JS | Custom script for all pages -->
	<script src="public/js/custom.js"></script>

	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  
      (Load Extensions only on Local File Systems ! 
       The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="public/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
</body>

</html>